### Portfolio Project: Exploring the Jeopardy Dataset with Python

# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion! To explore the rich Jeopardy question dataset and uncover patterns in language, category distribution, and gameplay structure over time. I also aimed to build a simple interactive quiz system using Python to engage with the data dynamically.

## Prerequisites

In order to complete this project, I have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course was also helpful.

## Project Requirements

1. I was provided with a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. I loaded the data into a DataFrame and investigated its contents.

   Note that in order to make this project as "real-world" as possible, the data hadn't been modified the data at all - it was given it to me exactly how they found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After I figured out the problem with the column names, I wanted to rename them to make my life easier for the rest of the project.
   
I used a cleaned version of the Jeopardy dataset containing columns like `question`, `answer`, `category`, `round`, and `air date`. Key preprocessing steps included:

- Converting `air date` to datetime format (`air_date_dt`)
- Extracting the year (`year`) for temporal analysis
- Lowercasing questions for keyword matching (`question_lower`)

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv('jeopardy.csv')
print(jeopardy.head())
jeopardy.columns = jeopardy.columns.str.strip()
jeopardy.columns = jeopardy.columns.str.lower()
jeopardy["question_lower"] = jeopardy['question'].str.lower()

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [47]:
def find_words(word1, word2):
 matched_list = []
 for i in range(len(jeopardy)):
     question = jeopardy['question_lower'][i]
     question_words = question.split()
     if word1.lower() in question_words and word2.lower() in question_words:
         matched_list.append(jeopardy.iloc[i])
 return pd.DataFrame(matched_list)

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [53]:
print(len(find_words("Power","Hungry")))
print(king_england)

1
        show number    air date             round               category  \
6337           3517  1999-12-14  Double Jeopardy!                    Y1K
9191           3907  2001-09-04  Double Jeopardy!         WON THE BATTLE
13454          4726  2005-03-07         Jeopardy!  A NUMBER FROM 1 TO 10
14912          2832  1996-12-17         Jeopardy!          WORLD HISTORY
18076          3227  1998-09-22  Double Jeopardy!          WORLD HISTORY
...             ...         ...               ...                    ...
200369         2937  1997-05-13         Jeopardy!        BRITISH HISTORY
201168         3515  1999-12-10         Jeopardy!         BEFORE & AFTER
208742         4863  2005-11-02  Double Jeopardy!         BEFORE & AFTER
213870         5856  2010-02-15  Double Jeopardy!                 URANUS
216021         1881  1992-11-09  Double Jeopardy!         HISTORIC NAMES

         value  \
6337      $800
9191      $800
13454    $1000
14912     $100
18076    $1000
...        ...
200369    $200
201168    $500
208742  $3,000
213870   $1600
216021   $1000

                                                                                                               question  \
6337             In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                           This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
13454                                              It's the number that followed the last king of England named William
14912                 This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
18076                   In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
...                                                                                                                 ...
200369  8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
201168                                         Popular Saint-Exupery character waiting around to become king of England
208742                             Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                       In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021                 His nickname was "Bertie", but he used this name & number when he became king of England in 1901

                            answer  \
6337                      Ethelred
9191                       Henry V
13454                            4
14912                       France
18076      Richard the Lionhearted
...                            ...
200369                       Wales
201168  The Little Prince of Wales
208742    William of Orange roughy
213870                  George III
216021                  Edward VII

                                                                                                         question_lower
6337             in retaliation for viking raids, this "unready" king of england attacks norse areas of the isle of man
9191                           this king of england beat the odds to trounce the french in the 1415 battle of agincourt
13454                                              it's the number that followed the last king of england named william
14912                 this country's king louis iv was nicknamed "louis from overseas" because he was raised in england
18076                   in 1199 this crusader king of england was mortally wounded while besieging the castle of chalus
...                                                                                                                 ...
200369  8th c. king offa built a 170-mile north-south dike that still partly marks the border of england & this country
201168                                         popular saint-exupery character waiting around to become king of england
208742                             dutch-born king who ruled england jointly with mary ii & is a tasty new zealand fish
213870                       in 1781 william herschel discovered uranus & initially named it after this king of england
216021                 his nickname was "bertie", but he used this name & number when he became king of england in 1901

[74 rows x 8 columns]

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [78]:
jeopardy['value_float'] = jeopardy['value'].str.replace('$', '').str.replace(',', '')

jeopardy['value_float'] = pd.to_numeric(jeopardy['value_float'], errors='coerce')
king_england = find_words("king","england")

print(king_england.value_float.mean())

841.0958904109589

In [79]:
print(jeopardy.columns)

Index(['show number', 'air date', 'round', 'category', 'value', 'question',
       'answer', 'question_lower', 'value_float'],
      dtype='object')

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [96]:
def find_unique(dataset):
    return dataset['answer'].nunique()
find_unique(king_england)
giveup_power = find_words('computer','computers')
print(giveup_power)
giveup_power.value_float.mean()
find_unique(giveup_power)

        show number    air date             round     category  value  \
60109          5483  2008-06-11         Jeopardy!   GEEK SQUAD  $1000
120072         3119  1998-03-05  Double Jeopardy!  ELECTRONICS   $200

                                                                                                                                                                                                                               question  \
60109   (<a href="http://www.j-archive.com/media/2008-06-11_J_30.jpg" target="_blank">A Geek indicates a computer port.</a>) Today it's easy connecting devices by using USB; older computers use 2 types of ports, parallel & this one
120072                                                                                                                                 This device allows a computer to connect to phone lines & access other computers on the internet

        answer  \
60109   serial
120072   Modem

                                                                                                                                                                                                                         question_lower  \
60109   (<a href="http://www.j-archive.com/media/2008-06-11_j_30.jpg" target="_blank">a geek indicates a computer port.</a>) today it's easy connecting devices by using usb; older computers use 2 types of ports, parallel & this one
120072                                                                                                                                 this device allows a computer to connect to phone lines & access other computers on the internet

        value_float
60109        1000.0
120072        200.0

2

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [160]:
# investigating how the questions changes over time
jeopardy['air_date_dt'] = pd.to_datetime(jeopardy['air date'], errors = 'coerce')
jeopardy['year'] = jeopardy.air_date_dt.dt.year
print(jeopardy.year.dtype)

def filter_by_year(dataset, year_start, keyword):
    filtered_list = []
    for i in range(len(dataset)):
        question = dataset['question_lower'][i]
        question_words = question.split()
        if year_start == (dataset['year'][i]):
            if keyword in question_words:
                filtered_list.append(dataset.iloc[i])
    return pd.DataFrame(filtered_list)

#filter_by_year(jeopardy, 2012, 'football')


# investigating connection between the round and category
print(jeopardy['round'].unique())
print(jeopardy['category'].nunique())

round_category_count = jeopardy.groupby(['round', 'category']).size()

round_category_pivot = round_category_count.unstack(fill_value = 0)

history_counts = round_category_pivot.loc[(slice(None), "HISTORY")]
print(literature_counts)

int32
['Jeopardy!' 'Double Jeopardy!' 'Final Jeopardy!' 'Tiebreaker']
27995
round
Double Jeopardy!    194
Final Jeopardy!       0
Jeopardy!           155
Tiebreaker            0
Name: HISTORY, dtype: int64

In [167]:
# Building a system to quiz yourself
question_row = jeopardy.sample(1).iloc[0]
print("Category:", question_row["category"])
print("Question:", question_row["question"])

user_answer = input("Your answer: ").strip().lower()
correct_answer = str(question_row["answer"]).strip().lower()

if user_answer == correct_answer:
    print("Your answer is correct!")
else:
    print(f"Your answer is incorrect :(. The correct answer is: {question_row['answer']}")

Category: NUTRITION
Question: For proper colon health, it's been suggested that everyone get 20-35 grams per day of this, both soluble & insoluble forms

Your answer:  fiber

Your answer is correct!